:root {
    --carousel-button-width: 5%;
    --carousel-button-background: transparent;
    --carousel-button-color: currentColor;
    --carousel-button-background-hover: darkslategray;
    --carousel-button-color-hover: white;

    --carousel-track-holder-fadeWidth: 5%;
    --carousel-track-holder-fadeMask:
        linear-gradient(to right,
            transparent,
            black calc(var(--carousel-track-holder-fadeWidth) * 1.5),
            black calc(100% - var(--carousel-track-holder-fadeWidth) * 1.5),
            transparent);

    --carousel-indicator-size: 1%;
    --carousel-indicator-color: rgb(0, 0, 0, .25);
    --carousel-indicator-color-hover: rgb(0, 0, 0, .5);
    --carousel-indicator-color-selected: darkslategray;
}





*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    max-width: min(100vw - 1rem, 80rem);
    margin: 0 auto;
}





.carousel {
    width: 100%;
    margin: 3em auto;
}



.carousel-container {
    width: 100%;

    display: flex;
    justify-content: center;
}

.carousel-track-holder {
    width: 100%;

    overflow: hidden;
}

.mask {
    -webkit-mask-image: var(--carousel-track-holder-fadeMask);
    mask-image: var(--carousel-track-holder-fadeMask);
}

.carousel-track {
    --carousel-items-per-screen: 4;
    --carousel-track-index: 0;

    width: calc(100% - var(--carousel-track-holder-fadeWidth) * 2);
    margin-inline: auto;

    display: flex;

    transform: translateX(calc(-100% * var(--carousel-track-index)));
    transition: transform .5s ease-in-out;
}





.carousel-item {
    flex: 0 0 calc(100% / var(--carousel-items-per-screen));
}

.carousel-card {
    padding: .5vw;

    cursor: pointer;
    user-select: none;
}

.carousel-card-image {
    width: 100%;
    aspect-ratio: 5 / 4;

    object-fit: cover;
}

.carousel-card-title {
    margin: 0;
}



.carousel-modal {
    padding: 1em;

    overflow-x: hidden;

    border: none;
    box-shadow: 0 0 3rem rgb(0, 0, 0, .5);
}

.carousel-modal::backdrop {
    background-color: rgb(0, 0, 0, .5);
}



.carousel-modal-image {
    display: block;
    user-select: none;
}

.carousel-modal-button {
    padding: .5em 2em;

    background-color: darkslategray;
    color: white;

    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
}

.carousel-modal-button:hover {
    background-color: lightslategray;
}





.carousel-button {
    width: var(--carousel-button-width);

    background-color: var(--carousel-button-background);
    color: var(--carousel-button-color);

    font-size: 4vw;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
}

.carousel-button:hover {
    background-color: var(--carousel-button-background-hover);
    color: var(--carousel-button-color-hover);
}





.carousel-indicator-container {
    display: flex;
    justify-content: center;
    /* gap: calc(var(--carousel-indicator-size) * 1.25); */
}



.carousel-indicator {
    width: var(--carousel-indicator-size);
    aspect-ratio: 1 / 1;

    margin: var(--carousel-indicator-size);

    background-color: var(--carousel-indicator-color);
    
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicator:hover {
    background-color: var(--carousel-indicator-color-hover);
}

.carousel-indicator.selected {
    background-color: var(--carousel-indicator-color-selected);
}
